@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.imageContainer{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.darkImage{
  filter: brightness(40%);
}

.content{
  position: relative;
  z-index: 1;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1, li, .content-font {
  font-family: 'Russo One';
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Russo One";
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
}

.nav-menu{
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-main{
  position: relative;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-div{
  top: 150px;
}